/* =colors
  color: #42d3ff; light blue
*/
@font-face {
  font-family: "Arsenal-Bold";
  src: url('../fonts/Arsenal-Bold.otf');
}

@font-face {
  font-family: "Arsenal-Regular";
  src: url('../fonts/Arsenal-Regular.otf');
}

@font-face {
  font-family: "century-bold";
  src: url('../fonts/gothicb.ttf');
}

.container {
  max-width: 1024px;
  background-color: #fff;
}

.header {
  height:95px;
}

.header-logo {
  top: 10px;
  margin-left: 94px;
  position: absolute;
}

.tag-line {
  margin-top: 10px;
  margin-left: 359px;
  border-left: 7px solid #42d3ff;
  height: 85px;
  max-width: 575px;
}

.tag-line p {
  color: #42d3ff;
  padding-left: 30px;
  padding-top: 18px;
  line-height: 26px;
  font-family: "Arsenal-Bold";
  font-size: 30px;
}

.login-button {
  display: block;
  height: 31px;
  float: left;
  background-color: #089edd;
  color: #fff;
  font-family: century-bold;
  text-align: center;
  font-size: 25px;
  padding-top: 12px;
}

.login-button.fan {
  width: 522px;
  margin-right: 1px;
}

.login-button.artist-brand {
  width: 501px;
}

.login-button:hover {
  text-decoration: none;
  color: #fff;
}

/* begin carousel custom */
.carousel {
  margin-bottom: 0;
}

.carousel-control {
  background: none;
  border: none;
  margin-top: 0;
}

.carousel-indicators {
  left: 0;
  right: 0;
  top: auto;
  bottom: 15px;
  text-align: center;
}

.carousel-indicators li {
  float: none;
  display: inline-block;
}

.carousel-indicators li {
  margin-right:5px;
  background-color: rgba(255, 255, 255, 0.60);
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* end carousel custom */

.login-buttons {
  margin-bottom: 20px;
}

/* begin mid box container */
.mid-containers {
  padding-left: 29px;
  margin-top: 27px;
  float: left;
}

.mid-box-container {
  border: 8px solid #efefef;
  width: 300px;
  height: 190px;
  float: left;
  margin-bottom: 26px;
  margin-right: 10px;
}

.mid-box-container p {
  color: #42d3ff;
  text-align: center;
  font-family: "century-bold";
}

.main-text {
  font-size: 32px;
  padding-top: 24px;
  line-height: 28px;
}

.sub-text {
  padding: 0;
  margin-top: -7px;
  font-size: 15px;
  line-height: 16px;
}

.mid-box-container.center p {
  padding-top: 53px;
}

.icons-store {
  margin: 0 auto;
  max-width: 254px;
  margin-top: 15px;
}
/* begin mid box container */

.footer {
  background-image: url('../img/bg-footer.jpg');
  float: left;
  width: 100%;
}

.follow-mosh {

}

.follow-icons {

}

.follow-icon {

}

.logo-footer {

}

.footer-links {

}

.copyright {

}


/******** START ALEC EDIT ***************/

@font-face
{
font-family: CenturyGothic;
src: url("../fonts/CenturyGothic.ttf");
}

@font-face
{
font-family: CenturyGothicBold;
src: url("../fonts/gothicb.ttf");
}

.header-scorecard {
  height:105px;
	padding-bottom:10px;
	
	background:url("../img/bg-header-scorecard.png") repeat-x; 
	
	
}

.mid-containers {
  padding-left: 29px;
  margin-top: 10px;
  float: left;
}

.mid-box-table {
  border: 1px solid #efefef;
  width: 353px;
  height: 397px;
  float: left;
  margin-bottom: 26px;
  margin-right: 10px;
}


.mid-box-chart {
  
  width: 246px;
  height: 397px;
  float: left;
  margin-bottom: 26px;
  margin-right: 10px;
}

table{
    border-collapse: collapse;
    border: 1px solid #acaaad;
}

table.table1 td.icon{
     text-align: center;
		 padding-left:0px;
}

.table1 thead{
  background: #8c8c8c;
	font-family:CenturyGothicBold;
	color:#ffffff;
	
}

table td{
padding-left:10px;
border-right:1px solid #acaaad;;
}

tbody.table-odd-row{
	
	font-family:CenturyGothic;
	color:#8c8c8c;
	}



.table-odd-row  tr:nth-child(odd)		{
background-color:#eeeeee;
padding-left:10px;
}

.table-odd-row	tr:nth-child(even)		{
background-color:#fafafa; 
}



.table1 .table-odd-row{
 background: #8c8c8c;
}

.header-scorecard-logo {
  top: 10px;
  margin-left: 34px;
	
	
  position: absolute;
}

.image-chart {
  overflow:hidden;
	margin-top:-2px;
}

.image-legend {
  overflow:hidden;
	margin-top:7px;
}


.tag-line-scorecard {
   height: 55px;
  max-width: 575px;
	
}

.tag-line-scorecard p {
  color: #079edc;
  padding-left: 4px;
  line-height: 26px;
 	font-family:CenturyGothicBold;
  font-size: 25px;
}

/******** End ALEC EDIT ***************/

